@model Discount_Store.Models.Item
@{
    ViewData["Title"] = "Index";
}


<div class="row">
    <form asp-action="Add">
        <div class="col-md-12 float-left">

            <div class="col-md-12 float-left">
                <div class="col-md-3 float-left">
                    Item ID : <input class="form-control" asp-for="ItemID" value="1" />
                </div>
                <div class="col-md-3 float-left">
                    Sku : <input class="form-control" asp-for="SKU" value="Vase" />
                </div>
                <div class="col-md-3 float-left">
                    Price: <input class="form-control" asp-for="Price" value="1.2" />
                </div>

                <div class="col-md-3 float-left pt-3">
                    <input type="submit" class="btn-block btn-success" name="Add" value="Add" />
                    @Html.ActionLink("Remove", "Remove", "Order", new { @SKU = "Vase" })
                </div>
            </div>
        </div>
    </form>
    <form asp-action="Add">
        <div class="col-md-12 float-left">
            <div class="col-md-12 float-left">
                <div class="col-md-3 float-left">
                    Item ID : <input class="form-control" asp-for="ItemID" value="2" />
                </div>
                <div class="col-md-3 float-left">
                    Sku :<input class="form-control" asp-for="SKU" value="Big mug" />
                </div>
                <div class="col-md-3 float-left">
                    Price: <input class="form-control" asp-for="Price" value="1" />
                </div>

                <div class="col-md-3 float-left pt-3">
                    <input type="submit" class="btn-block btn-success" name="Add" value="Add" />

                    @Html.ActionLink("Remove", "Remove", "Order", new { @SKU = "Big mug"})
                </div>
            </div>
        </div>
    </form>
    <form asp-action="Add">
        <div class="col-md-12 float-left">
            <div class="col-md-12 float-left">
                <div class="col-md-3 float-left">
                    Item ID : <input class="form-control" asp-for="ItemID" value="3" />
                </div>                <div class="col-md-3 float-left">
                    Sku : <input class="form-control" asp-for="SKU" value="Napkins pack" />
                </div>
                <div class="col-md-3 float-left">
                    Price: <input class="form-control" asp-for="Price" value="0.45" />
                </div>
                <div class="col-md-3 float-left pt-3">
                    <input type="submit" class="btn-block btn-success" name="Add" value="Add" />
                    @Html.ActionLink("Remove", "Remove", "Order", new { @SKU = "Napkins pack" })
                </div>
            </div>
        </div>
    </form>
    <div class="col-12 col-md-12 float-left">
        <form asp-action="GetTotal">
            <div class="col-md-4 float-left">
             TotalPrice:   @TempData["GetTotal"]
            </div>
            <div class="col-md-4 float-left">
                @*<input type="submit" class="btn-block btn-success" name="Save" value="Calc" />*@
            </div>
            <dWiv class="col-md-4 float-left">
            </dWiv>
        </form>
    </div>
</div>
